%html
  %body
    %h1 Your book has a new rating #{@user.name}
    %p
      #{@user.name},
      
      The book titled #{@book.title} has a new rating.
    %p
      Login to the site to see the new rating





