%html
  %body
    %h1 Your book has a new review #{@user.email}
    %p
      #{@user.email},
      
      The book titled #{@book.title} has a new review.
    %p
      Login to the site to see the new review
