%html
  %body
    %h1 The book you are following has a new rating #{@user.email}
    %p
      #{@user.email},
      
      The book titled #{@book.title} has a new rating.
    %p
      Login to the site to see the new rating
